/* special fonts */
/*
font-family: 'Kaushan Script', cursive;
font-family: 'Poly', serif;
*/

body {
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  padding-top: 0px;
  background-image: url('img/beige.jpg');
  font-family: 'Poly', serif;
  font-size: large;
}

h1.script {
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
}

.menu {
  font-weight: bold;
  font-size: large;
}

.warning {
  color: red;
}

.script {
  font-family: 'Kaushan Script', cursive;
}


.logo {
  height: 100px;
}

.littleSpace {
  padding: 10px;
}

.footer {
  padding: 10px;
  text-align: center;
  font-size: medium;
  font-family: 'Kaushan Script', cursive;
}
