/* special fonts */
/*
font-family: 'Kaushan Script', cursive;
font-family: 'Poly', serif;
*/

body {
  margin: 10px 40px 40px 40px;
  font-family: 'Poly', serif;
}

h1.script {
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
}

p.warning {
  color: red;
}

.logo {
  height: 100px;
}

.littleSpace {
  padding: 10px;
}

.footer {
  padding: 10px;
  text-align: center;
  font-size: small;
  font-family: 'Kaushan Script', cursive;
}
