{% extends "base.html" %}
{% block content %}

<div>
  <h1>Change Status of Gift</h1>
  <p>If you've bought the gift, set status to "purchased." If you've given it, set status to "given."</p>

  <form id="statusGift" action="{{url_for('statusGift', rec_id = rec_id, gift_id = gift_id)}}" method="POST">
    <fieldset class="form-group">
      <h3>{{gift.name}}</h3>
      <label for="status">Status</label>
      <select name="status">
        <option value="idea">idea</option>
        <option value="purchased">purchased</option>
        <option value="given">given</option>
      </select>
    </fieldset>
    <input type="submit" class="btn btn-default" value="Change">
    <a class="btn btn-default" onclick="goBack()">Cancel</a>
  </form>

</div>

{% endblock %}
