{% extends "base.html" %}
{% block content %}
{% include "navGifts.html" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><i>{{ recipient.name }}'s Gifts ~ click gift name to see details.</i>
    <a href="{{ url_for('addGift', rec_id = recipient.id) }}" class="btn btn-md btn-success pull-right">Add Gift</a></h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><!-- image --></th>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for g in gifts %}
        <tr>
          <td>
            {% if g.image %}
              <img src="{{ g.image }}" alt="{{ g.name }}" style="width:100px;height:100px;" />
            {% else %}
              <img src="{{ url_for('static', filename = 'img/present.png') }}" alt="default image" style="width:100px;height:100px;"/>
            {% endif %}
          </td>
          <td><a href="{{ url_for('giftDetails', rec_id=recipient.id, gift_id=g.id) }}">{{ g.name }}</a></td>
          <td>{{ g.status }}</td>
          <td>
            <div class="btn-group pull-right" role="group" aria-label="...">
              <a href="{{ url_for('statusGift', rec_id=recipient.id, gift_id=g.id) }}" class="btn btn-md btn-info">Change Status</a>
              <a href="{{ url_for('regiveGift', gift_id=g.id) }}" class="btn btn-md btn-info">Give to another</a>
              <a href="{{ url_for('editGift', rec_id=recipient.id, gift_id=g.id) }}" class="btn btn-md btn-info">Edit</a>
              <a href="{{ url_for('deleteGift', rec_id=recipient.id, gift_id=g.id) }}" class="btn btn-md btn-info">Delete</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
