{% extends "base.html" %}
{% block content %}
{% include "navGifts.html" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><i>Change Status of Gift</i></h4>
  </div>
  <div class="panel-body">
    <p>If you've bought the gift, set status to "purchased." </br>
      If you've given it, set status to "given."</p>

    <div class="well">
      <form id="statusGift" action="{{url_for('statusGift', rec_id = rec_id, gift_id = gift_id)}}" method="POST">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
                {% if gift.image %}
                  <img src="{{gift.image}}" alt="{{gift.name}}" style="width:100px;height:100px;" />
                {% else %}
                  <img src="{{ url_for('static', filename = 'img/present.png')}}" alt="default image" style="width:100px;height:100px;"/>
                {% endif %}
            </div>
            <div class="col-md-10">
              <h4><span class="script">Gift</span>: {{gift.name}}</h4>
              <label for="status">Status</label>
              <select name="status">
                <option value="idea">idea</option>
                <option value="purchased">purchased</option>
                <option value="given">given</option>
              </select>
              <div class="littleSpace">
                <input type="submit" class="btn btn-md btn-success" value="Change">
                <a class="btn btn-md btn-danger" onclick="goBack()">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
