{% extends "base.html" %}
{% block content %}
{% include "navGifts.html" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><i>All Gifts</i>
    <a href="{{url_for('pickRec')}}" class="btn btn-md btn-success pull-right">Add Gift</a></h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><!-- image --></th>
        <th>Name</th>
        <th>Status</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for g in gifts %}
        <tr>
          <td>
            {% if g.image %}
              <img src="{{g.image}}" alt="{{g.name}}" style="width:100px;height:100px;" />
            {% else %}
              <img src="{{ url_for('static', filename = 'img/present.png')}}" alt="default image" style="width:100px;height:100px;"/>
            {% endif %}
          </td>
          <td>{{g.name}}</td>
          <td>{{g.status}}</td>
          <td><a href="{{g.link}}" class="noBreakOut" target="_blank">{{g.link}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
