{% extends "base.html" %}
{% block content %}

<div>
  <h1>Edit a gift</h1>
  <p>Enter only the information you want to change.</p>

  <form id="editGift" action="{{url_for('editGift')}}" method="POST">
    <fieldset class="form-group">
      <label for="name">Name of Gift</label>
      <input type="text" class="form-control" name="name" placeholder="{{gift.name}}" size='30' required>
    </fieldset>
    <fieldset class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" placeholder="{{gift.description}}" size='100'>
    </fieldset>
    <fieldset class="form-group">
      <label for="linkBuy">Link to purchase</label>
      <input type="text" class="form-control" name="linkBuy" placeholder="{{gift.link}}" size='100'>
    </fieldset>
    <fieldset class="form-group">
      <label for="linkPic">Link to image</label>
      <input type="text" class="form-control" name="linkPic" placeholder="{{gift.image}}" size='100'>
    </fieldset>
    <fieldset class="form-group">
      <label for="status">Status</label>
      <select name="status">
        <option value="idea">idea</option>
        <option value="purchased">purchased</option>
        <option value="given">given</option>
      </select>
    </fieldset>
    <input type="submit" class="btn btn-default" value="Change">
    <a class="btn btn-default" onclick="goBack()">Cancel</a>
  </form>

</div>

{% endblock %}
