{% extends "base.html" %}
{% block content %}
{% include "navGifts.html" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><i>Copy gift to another recipient</i></h4>
  </div>
  <div class="panel-body">
    <p>This action does NOT remove the gift from the original recipient.</p>

    <table class="table">
      <thead>
        <tr>
          <th><!-- image --></th>
          <th>Name</th>
          <th>Status</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              {% if g.image %}
                <img src="{{g.image}}" alt="{{g.name}}" style="width:100px;height:100px;" />
              {% else %}
                <img src="{{ url_for('static', filename = 'img/present.png')}}" alt="default image" style="width:100px;height:100px;"/>
              {% endif %}
            </td>
            <td>{{gift.name}}</td>
            <td>{{gift.status}}</td>
            <td><a href="{{g.link}}" class="noBreakOut" target="_blank">{{gift.link}}</a></td>
          </tr>
      </tbody>
    </table>

    <form action = "{{url_for('regiveGift', gift_id=gift_id)}}" method = 'POST'>
    <fieldset class="form-group">
      <label for="newRecipient">New Recipient</label>
      <select name="newRecipient">
        {% for r in recipients %}
        <option value="{{r.name}}">{{r.name}}</option>
        {% endfor %}
      </select>
    </fieldset>
    <input type="submit" class="btn btn-md btn-success" value = "Give">
    <a class="btn btn-md btn-danger" onclick="goBack()">Cancel</a>
  </div>
</div>
{% endblock %}
