{% extends "cover.html" %}

{% block top %}
<h1 class="script" class="masthead-brand">Gifter - Login</h1>
{% endblock %}

{% block content %}
<div class="littleSpace">
  <p>Connect using Google+ or Facebook</p>
  <p>Please be patient - sometimes remote processing takes a moment.</p>
</div>

<div class="lead littleSpace">
  <div id="googleSignIn">
    <div id="googleSignInButton">
      <!--Remove 'data-approvalprompt' when live -->
      <span class="g-signin"
            data-scope="openid email"
            data-clientid="906905857159-19l8lcp90j3utgq2itj4upgdjtjaaltm.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
      </span>
    </div>

    <!-- For displaying messages -->
    <div id = "result"></div>

    <!-- Callback method -->
    <script>
      function signInCallback(authResult) {
        if (authResult['code']){
          // Hide sign-in button
          $('signinButton').attr('style', 'display:none');
          // Send 1-time-use code to server
          $.ajax({
            type:'POST',
            url:'/gconnect?state={{STATE}}',
            processData:false,
            data:authResult['code'],
            contentType:'application/octet-stream; charset=utf-8',
            success:function(result){
              // Handle server response to code
              if (result){
                $('#result').html('Login Successful!</br>' + result + '</br>Redirecting ...')
                setTimeout(function(){
                  window.location.href='/recipients';
                }, 2000);
              } else if (authResult['error']){
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
          });
        }
      }
    </script>
  </div>

  <div id="facebookSignIn">
    <div id="facebookSignInButton">
      <fb:login-button
          scope="public_profile,email"
          onlogin="sendTokenToServer();"
          data-size="large"
          data-show-faces="false"
          data-auto-logout-link="false">
        <a href="javascript:sendTokenToServer()">Sign In</a>
      </fb:login-button>
    </div>

    <div>
      <script>
        window.fbAsyncInit = function(){
          FB.init({
            appId:'675385429230619',
            cookie:true,
            xfbml:true, // parse social plugin
            version:'v2.4'
          });
        };

        // Load SDK async
        (function (d,s,id){
          var js,fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)){return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js,fjs);
        }(document, 'script', 'facebook-jssdk'));

        function sendTokenToServer(){
          var access_token =
            FB.getAuthResponse()['accessToken'];
            console.log('Welcome! Fetching your access token.');
            console.log(access_token)
            FB.api('/me', function(response){
              console.log('Successful login for: ' + response.name);
              $.ajax({
                type:'POST',
                url:'/fbconnect?state={{STATE}}',
                processData:false,
                data:access_token,
                contentType:'application/octet-stream; charset=utf-8',
                success: function(result){
                  // Handle server response to token
                  if (result){
                    $('#result').html('Login Successful!</br>' + result + '</br>Redirecting ...')
                    setTimeout(function(){
                      window.location.href="/recipients";
                    }, 2000);
                  } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                  }
                }
              })
            })
        }
      </script>
    </div>
  </div>
</div>
{% endblock %}
