<nav>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active menu"><a href="{{ url_for('recipients') }}">Recipients</a></li>
    <li role="presentation" class="menu"><a href="{{ url_for('addRecipient') }}">Add Recipient</a></li>
    <li role="presentation" class="menu"><a href="{{ url_for('allYourGifts') }}">Gifts</a></li>
    <li role="presentation" class="menu"><a href="{{ url_for('pickRec') }}">Add Gift</a></li>
    <li role="presentation" class="menu"><a href="{{ url_for('allGifts') }}">All Gifts</a></li>
  </ul>
</nav>
