{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>Welcome</h1>

  <div class="row">
    <!-- spacer -->
    <div class="col-md-3"></div>

    <div class="col-md-2">
      <p><a href="{{url_for('showLogin')}}">Login</a></p>
    </div>

    <div class="col-md-2">
      <p><a href="{{url_for('showRegister')}}">Register</a></p>
    </div>

    <div class="col-md-2">
      <p>Explore Demo</p>
    </div>

    <!-- spacer -->
    <div class="col-md-3"></div>
  </div>

</div>
{% endblock %}
